{% extends "account/base_entrance.html" %}

{% block title %}Reset your password - {{ SITE_NAME }}{% endblock %}
{% block art_heading %}Locked out? It happens.{% endblock %}
{% block art_body %}We will email you a link to set a new password.{% endblock %}

{% block entrance %}
  <header>
    <h1 class="auth__title">Reset your password</h1>
    <p class="auth__sub">Enter your email and we will send a reset link.</p>
  </header>

  <form method="post" action="{% url 'account_reset_password' %}" class="stack">
    {% csrf_token %}
    {% include "partials/form_errors.html" %}
    {% for field in form %}
      {% include "partials/form_field.html" with field=field %}
    {% endfor %}
    <button class="btn btn--primary btn--block" type="submit">Send reset link</button>
  </form>

  <p class="auth__alt">Remembered it? <a href="{% url 'account_login' %}">Sign in</a></p>
{% endblock %}
