{% extends "account/base_entrance.html" %}

{% block title %}Set a new password - {{ SITE_NAME }}{% endblock %}

{% block entrance %}
  <header>
    <h1 class="auth__title">{% if token_fail %}Link expired{% else %}Set a new password{% endif %}</h1>
    <p class="auth__sub">
      {% if token_fail %}That reset link is no longer valid. Request a fresh one.
      {% else %}Choose something you have not used before.{% endif %}
    </p>
  </header>

  {% if token_fail %}
    <a class="btn btn--primary btn--block" href="{% url 'account_reset_password' %}">Request a new link</a>
  {% else %}
    <form method="post" class="stack">
      {% csrf_token %}
      {% include "partials/form_errors.html" %}
      {% for field in form %}
        {% include "partials/form_field.html" with field=field %}
      {% endfor %}
      <button class="btn btn--primary btn--block" type="submit">Save new password</button>
    </form>
  {% endif %}
{% endblock %}
